<ul>
  <li>
    Golfer Info
    <ul>
      <li><a href="/client/golfers?sort_by=name">Name- A to Z</a></li>
      <li><a href="/client/golfers?sort_by=member_number&&sort_order=asc">Member Number - Ascending</a></li>
    </ul>
  </li>
  <li>
    Tee Times
    <ul>
      <li><a href="/client/golfers?tee_times">Tee Times</a>
    </ul>
  </li>
</ul>