<h1>Tee Times</h1>
<h1>Start Time:  <%= tee_time["start_time"] %></h1>
<h1>Caddy Desired:  <%= tee_time["no_caddy"] %></h1>
<h1>Walking or Riding:  <%= tee_time["cart"] %></h1>
<h1>Number of Holes:  <%= tee_time["number_of_holes"] %></h1>

<a href="/client/tee_times?sort_by=start_time&&sort_order=asc">Tee Times Available</a> -->
