<ul>
  <li>
    Caddy Info
    <ul>
      <li><a href="/client/caddies?sort_by=name">Name- A to Z</a></li>
      <li><a href="/client/caddies?sort_by=ranking">Ranking- Honor/A</a></li>
    </ul>
  </li>
  <li>
    Tee Times
    <ul>
      <li><a href="/client/caddies?tee_times">Tee Times</a></li>
    </ul>
  </li>
</ul>